In [2]:
import pandas as pd

In [22]:
column_names = ['iterations', 'acceptance_ratio', 'number_of_vertices_to_remove', 'i_last_improv',
                     'route_imbalance', 'capacity_utilization', 'success_r_op_1', 'success_r_op_2', 'success_r_op_3',
                     'success_r_op_4', 'success_r_op_5', 'success_i_op_1', 'success_i_op_2', 'success_i_op_3',
                     'rel_delta_last_improv', 'instance_type', 'tw_spread', 'operator_selection_mechanism',
                     'prev_remove_operator', 'prev_insert_operator', 'delta_cost', 'new_cost', 'remove_op', 'insert_op']
df = pd.read_csv('test_benchmark_alns.log', sep=',', header=None, names=column_names)

In [23]:
df

,iterations,acceptance_ratio,number_of_vertices_to_remove,i_last_improv,route_imbalance,capacity_utilization,success_r_op_1,success_r_op_2,success_r_op_3,success_r_op_4,...,rel_delta_last_improv,instance_type,tw_spread,operator_selection_mechanism,prev_remove_operator,prev_insert_operator,delta_cost,new_cost,remove_op,insert_op
0,INFO:src.alns:1,0.0,15,0,2.134375,0.850000,1.0,1.0,1.0,1.000000,...,0.000000,0,1,1,NaN,NaN,-496.946313,8533.175056,3,1
1,INFO:src.alns:2,1.0,5,0,2.285218,0.891667,1.0,1.0,1.0,1.000000,...,-0.055032,0,1,1,3.0,1.0,0.000000,8533.175056,3,1
2,INFO:src.alns:3,1.0,5,1,2.285218,0.891667,1.0,1.0,1.0,1.000000,...,-0.055032,0,1,1,3.0,1.0,0.000000,8533.175056,3,1
3,INFO:src.alns:4,1.0,5,2,2.285218,0.891667,1.0,1.0,1.0,1.000000,...,-0.055032,0,1,1,3.0,1.0,0.000000,8533.175056,3,1
4,INFO:src.alns:5,1.0,5,3,2.285218,0.891667,1.0,1.0,1.0,1.000000,...,-0.055032,0,1,1,3.0,1.0,0.000000,8533.175056,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,INFO:src.alns:1996,1.0,15,12,3.073075,0.954103,1.0,2.5,1.0,1.457924,...,-0.003033,2,2,1,3.0,2.0,0.000000,4788.610503,3,2
11996,INFO:src.alns:1997,1.0,15,13,3.073075,0.954103,1.0,2.5,1.0,1.457924,...,-0.003033,2,2,1,3.0,2.0,0.000000,4788.610503,3,2
11997,INFO:src.alns:1998,1.0,15,14,3.073075,0.954103,1.0,2.5,1.0,1.457924,...,-0.003033,2,2,1,3.0,2.0,0.000000,4788.610503,3,2
11998,INFO:src.alns:1999,1.0,15,15,3.073075,0.954103,1.0,2.5,1.0,1.457924,...,-0.003033,2,2,1,3.0,2.0,0.000000,4788.610503,3,2
11999,INFO:src.alns:2000,1.0,15,16,3.073075,0.954103,1.0,2.5,1.0,1.457924,...,-0.003033,2,2,1,3.0,2.0,0.000000,4788.610503,3,2

In [24]:
df_grouped = df.groupby(['instance_type', 'tw_spread']).agg({'remove_op': pd.Series.nunique, 'insert_op': pd.Series.nunique})
df_grouped

                         remove_op  insert_op
instance_type tw_spread
0             1                  2          2
              2                  3          3
1             1                  2          2
              2                  3          3
2             1                  2          2
              2                  3          3

In [26]:
remove_op_counts = pd.crosstab(
    [df['instance_type'], df['tw_spread']],
    df['remove_op']
)

In [27]:
remove_op_counts

remove_op                 0  1     3    4
instance_type tw_spread
0             1           0  0  1999    1
              2          21  0  1874  105
1             1           0  0  1998    2
              2          11  0  1852  137
2             1           0  0  1999    1
              2           0  1  1997    2

In [28]:
insert_op_counts = pd.crosstab(
    [df['instance_type'], df['tw_spread']],
    df['insert_op']
)

In [29]:
insert_op_counts

insert_op                  0     1     2
instance_type tw_spread
0             1            0  1466   534
              2          138  1131   731
1             1            0  1066   934
              2          189  1049   762
2             1            0  1962    38
              2          309    68  1623

CcT

In [5]:
df_t = pd.read_csv('training_data_nn/training_set.csv')

In [6]:
df_t.columns

Index(['iterations', 'instance_type', 'tw_spread',
       'operator_selection_mechanism', 'number_of_vertices_to_remove',
       'delta_last_improv', 'acceptance_ratio', 'i_last_improv',
       'prev_remove_operator', 'prev_insert_operator', 'route_imbalance',
       'capacity_utilization', 'success_r_op_1', 'success_r_op_2',
       'success_r_op_3', 'success_r_op_4', 'success_r_op_5', 'success_i_op_1',
       'success_i_op_2', 'success_i_op_3', 'delta_cost', 'new_cost',
       'chosen_remove_operator', 'chosen_insert_operator', 'current_cost',
       'rel_delta_last_improv', 'short_long_improvement'],
      dtype='object')

In [9]:
improv_per_instance_and_operator = df_t.groupby(['instance_type', 'tw_spread', 'chosen_remove_operator']).short_long_improvement.agg(['min','max', 'sum'])

In [10]:
improv_per_instance_and_operator
#Consistently, the operator 3 has bigger delta, that is why it is the chosen the most.

                                                     min       max         sum
instance_type tw_spread chosen_remove_operator
0             1         1                      -0.138945  0.099272 -181.245662
                        2                      -0.133817  0.113726 -134.232003
                        3                      -0.180032  0.178903 -165.112888
                        4                      -0.199581  0.085410 -315.682173
                        5                      -0.113519  0.223178   45.319587
              2         1                      -0.143704  0.150143 -100.215372
                        2                      -0.128131  0.096917  -89.418534
                        3                      -0.166768  0.232442  -76.365912
                        4                      -0.167361  0.149940 -150.736548
                        5                      -0.164229  0.277881  -88.992268
1             1         1                      -0.081208  0.053687  -83.495727
                        2                      -0.084261  0.090215  -86.339881
                        3                      -0.079756  0.072170  -65.282227
                        4                      -0.105335  0.043432 -174.383088
                        5                      -0.086254  0.106721   -0.643124
              2         1                      -0.225329  0.239895 -135.661546
                        2                      -0.209323  0.196890 -149.925717
                        3                      -0.208229  0.301891 -111.252680
                        4                      -0.205365  0.190845 -191.016627
                        5                      -0.207579  0.313826 -131.869824
2             1         1                      -0.075582  0.057560  -62.443996
                        2                      -0.068593  0.054860  -56.935575
                        3                      -0.081145  0.068038  -57.348266
                        4                      -0.091996  0.033104 -164.220391
                        5                      -0.075042  0.085211  -26.607773
              2         1                      -0.226697  0.179004  -95.362883
                        2                      -0.219790  0.134056 -112.982522
                        3                      -0.242835  0.232243  -94.876699
                        4                      -0.206285  0.118643 -241.283546
                        5                      -0.200025  0.307630  -87.809824